NODE_ENV=development
PORT=3000

DATABASE_URL=postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require
DATABASE_HOST=
DATABASE_POOLER_HOST=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
FRONTEND_URL=http://localhost:8888
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
